
<div class="card">
        <div class="card-body">
          <h2 class="card-title">{{Restaurant.restaurant.name}}</h2>
          <div class="card-text">
            <h3>Rating : {{Restaurant.restaurant.averageRating.averageUserRating}}/5</h3>
            <h4>Votes: {{Restaurant.restaurant.averageRating.votes}}</h4>
          </div>
          <hr>
          <div class="btn-group-justified">
            <a href="#" class="btn btn-success">Menu</a>
            <a href="#" class="btn btn-success">Reviews</a>
            <a href="#" class="btn btn-success">Add Rating</a>
            <a href="#" class="btn btn-success">Add Review</a>
            <a href="#" class="btn btn-success">Order Online</a>
          </div>
        </div>
</div>
<div class="card">
    <div class="card-body">
        <router-outlet></router-outlet>
    </div>    
</div>