<div class="container">
      <div class="panel panel-primary">
        <div class="panel-heading">{{RestaurantDetails?.restaurant?.name}}</div>
        <div class="panel-body">
          <h5>Average Rating: {{RestaurantDetails?.restaurant?.averageRating?.averageUserRating}}/5</h5>
          <h5>Average Review: {{RestaurantDetails?.restaurant?.averageRating?.ratingText}}</h5>
        </div>
      </div>

    <div class="panel panel-primary">
      <div class="panel-body">
        <div class="col-md-8">
          <div *ngFor="let menu of OrderMenuList">
            <div class="panel panel-primary">
              <div class="panel-heading">{{menu.menuCategoryName}}</div>
              <div class="panel-body">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Name Of The Dish</th>
                      <th>Price</th>
                      <th>Item count</th>
                      <th>Add Item</th>
                      <th>Remove Item</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr *ngFor="let dish of menu.dishes">
                      
                        <td>{{dish.dishName}}</td>
                        <td>{{dish.price}}</td>
                        <td>{{dish.itemCount}}</td>
                        <td><button type="button" (click)="onAdd(dish)"><span class="glyphicon glyphicon-plus-sign"></span></button></td>
                        <td><button type="button" (click)="onRemove(dish)"><span class="glyphicon glyphicon-minus-sign"></span></button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <app-customer-order [ItemList]="SelectedItemList" [totalOrderPrice]="totalPrice" [CurrentUser]="user">

          </app-customer-order>
        </div>
      </div>
    </div>
</div>
