<div class="panel panel-primary">
  <div class="panel panel-footer">Your Order</div>
  <div class="panel panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name Of The Dish</th>
          <th>Price</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>dish.dishName</td>
          <td>dish.dishPrice</td>
          <td>0</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="panel panel-footer">
    <button>Proceed</button>
  </div>
</div>
