
<div *ngFor="let order of Orders">
  <div class="panel panel-primary">
    <div class="panel-heading"> Order Id : {{order.OrderId}} </div>
    <div class="panel-body">
      <div class="panel panel-title">
        <label>Restaurant Name : </label> {{order.RestaurantName}}
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Dish Name</th>
            <th>Item Count</th>
            <th>Dish Price</th>
            <th>Menu Category</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of order.OrderItem">
            <td>{{item.DishName}}</td>
            <td>{{item.ItemCount}}</td>
            <td>{{item.Price}}</td>
            <td>{{item.MenuCategoryName}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
